services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - default
  api:
    build: .
    env_file:
      - .env
    container_name: database_manager_api
    restart: always
    ports:
      - "8005:80"
    environment:
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}
      - DB_HOST=db
      - DB_PORT=5432
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=${MINIO_ROOT_USER}
      - MINIO_SECRET_KEY=${MINIO_ROOT_PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - default
  frontend:
    build:
      context: ./frontend
    container_name: pocket_money_ui
    restart: always
    ports:
      - "8006:80"
    depends_on:
      - api
    networks:
      - default
      - proxy_network
  family-photos-ui:
    build:
      context: ./family-photos-frontend
    container_name: family_photos_ui
    ports:
      - "8083:80"
    restart: always
  minio:
    image: minio/minio
    container_name: family_photos_storage
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    command: server --console-address ":9001" /data
    networks:
      - default
      - proxy_network

volumes:
  postgres_data:
  minio_data:

networks:
  proxy_network:
    external: true