.user-profile-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.profile-card-edit {
  background: #181818;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.avatar-large {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #808080;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

textarea {
  width: 100%;
  background: #333;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
}

.save-btn {
  background-color: #e50914; /* Netflix Red */
  color: white;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

.save-btn:disabled {
  background-color: #555;
  cursor: not-allowed;
}
